body {
    background-color: rgb(255, 247, 247);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #eee200;
    height: 6vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh 1vw 1vw;

}

.navbtn, .the {
    font-family: Poppins;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: .1vw solid transparent; 
    transition: border-color 0.5s ease; 
    margin-left: .5vw;
    margin-top: 4vw;
}

.the:hover {
    border-bottom: solid .1vw rgba(0, 0, 0, 1); 
}

a {
    text-decoration:none;
    color: inherit;
}

.active {
  color: rgb(0, 0, 0);
  border-bottom: .1vw solid rgb(0, 0, 0);
}

.barbtns {
    display: flex;
    flex-direction: row;
    margin-left: 60vw
}

.logopic {
    height: 5.5vw;
    width: 5vw;
    margin-right: .2vw;
    margin-left: 1vw;  
    margin-top: .1vw; 
}

.logo {
    font-family: Flagfies;
    font-size: 2.5vw;
    margin-top: 1vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Flagfies;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(6.5vw, 4vw)
}

.homepage {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(.5vw);
}

@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}


@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}