body {
    background-color: rgb(245, 245, 245);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fffff7;
    border-bottom: solid #eee200 .2vw;
    height: 4vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh .5vw .1vw;
}

.navbtn, .the {
    font-family: Creato;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: .1vw solid transparent; 
    transition: border-color 0.5s ease; 
    margin-left: 1vw;
    margin-top: 2vw;
    transform: translate(2vw)
}

.the:hover {
    border-bottom: solid .1vw rgba(0, 0, 0, 1); 
}

a {
    text-decoration:none;
    color: inherit;
}

.active {
  border-bottom: .1vw solid rgb(0, 0, 0);
}

.login {
    font-family: Creato;
    font-size: 1vw;
    color: black;
    font-weight: bold;
    margin-top: 2vw;
    transform: translate(2vw)
}

.pfp {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 25vw;
    transform: translate(7.5vw, -4.1vw)   
}

.barbtns {
    display: flex;
    flex-direction: row;
    margin-left: 23vw;
    margin-right: 25vw;
}

.logopic {
    height: 3.5vw;
    width: 3vw;
    margin-right: .2vw;
    margin-left: 2vw;  
    margin-top: .1vw; 
}

.logo {
    font-family: Flagfies;
    font-style: italic;
    font-size: 1.7vw;
    margin-top: .5vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Creato;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(5vw, 2.5vw)
}

.middle {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    height: 50vw;
}

.heading {
    font-family: PoppinsBold;
    color: black;
    font-size: 2vw;
    margin-left: 36vw;
    margin-top: 3vw;
}

.middleright {
    display: flex;
    flex-direction: row;
    font-family: Creato;
    color: black;
    background-color: blue;
    margin-left: 25vw;
    margin-top:5vw;
    font-size: 2vw;
}

.middleleft {
    display: flex;
    flex-direction: row;
    font-family: Creato;
    color: black;
    background-color: rgb(0, 0, 121);
    margin-top:5vw;
}

.filter {
    font-family: Creato;
    height: 2vw;
    width: 10vw;
    text-align: center;
    color: black;
}

.footer {
background-color: #1d1c1c;
color: #fff;
padding: 2rem 1rem; /* 2rem 1rem */
margin-top: -5%; /* -5% */
}

.footer-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 2rem; /* 2rem */
max-width: 62.5rem; /* 1000px */
margin: auto;
}

.footer-content div {
flex: 1;
min-width: 12.5rem; /* 200px */
}

.footer-logo {
width: 3.125rem; /* 50px */
margin-bottom: 0.5rem; /* 0.5rem */
}

.footer-bottom {
text-align: center;
margin-top: 2rem; /* 2rem */
padding-top: 1rem; /* 1rem */
border-top: 1px solid rgba(255, 255, 255, 0.4);
font-size: 0.9rem; /* 0.9rem */
}

@font-face {
  font-family: PoppinsBold;
  src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face { 
    font-family: Creato;
    src: url(fonts/CreatoDisplay-Light.otf)
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}