body {
    background-color: rgb(255, 247, 247);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 208, 0);
    height: 4vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbtn {
    font-family: Poppins;
    font-size: 1vw;
    font-weight: bold;
}

.navbtn:hover {
    border-bottom: .1vw solid rgba(0, 0, 0, 1);
}

.logopic {
    height: 3.5vw;
    width: 3vw;
    margin-right: .2vw;
    margin-left: 1vw;   
}

.logo {
    font-family: Flagfies;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Flagfies;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(4.2vw, 2.3vw)
}

.homepage {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(.5vw);
}

.navbar2 {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    margin-left: 33vw;
    height: 4vw;
    width: 100vw;
}

.navbtnlow {
    font-family: Flagfies;
    height: 2vw;
    width: 7vw;
    border-radius: 5vw 5vw 5vw 5vw;
    background-color: rgb(238, 226, 0);
    font-size: 1vw;
    color: black;
    text-align: center;
    padding-top: .5vw;
    margin-left: 1vw;
}

.bigpic {
    margin-left: 1vw;
    width: 97vw;
    height: 30vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.faq {
    display: flex;
    flex-direction: column;
    height: 40vw;
    width: 97vw;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgb(238, 226, 0);
}

.faqhead {
    font-family: Flagfies;
    font-size: 1.5vw;
    text-align: center;
}

@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Regular.ttf);
}


@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
