html {
    background-image: url('images/carbg.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    backdrop-filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fffff7;
    border-bottom: solid #eee200 .2vw;
    height: 4vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh .5vw .1vw;
}

.navbtn, .the {
    font-family: Creato;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: .1vw solid transparent; 
    transition: border-color 0.5s ease; 
    margin-left: 1vw;
    margin-top: 2vw;
    transform: translate(2vw)
}

.the:hover {
    border-bottom: solid .1vw rgba(0, 0, 0, 1); 
}

a {
    text-decoration:none;
    color: inherit;
}

.active {
  border-bottom: .1vw solid rgb(0, 0, 0);
}

.login {
    font-family: Creato;
    font-size: 1vw;
    color: black;
    font-weight: bold;
    margin-top: 2vw;
    transform: translate(2vw)
}

.pfp {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 25vw;
    transform: translate(7.5vw, -4.1vw)   
}

.barbtns {
    display: flex;
    flex-direction: row;
    margin-left: 23vw;
    margin-right: 25vw;
}

.logopic {
    height: 3.5vw;
    width: 3vw;
    margin-right: .2vw;
    margin-left: 2vw;  
    margin-top: .1vw; 
}

.logo {
    font-family: Flagfies;
    font-style: italic;
    font-size: 1.7vw;
    margin-top: .5vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Creato;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(5vw, 2.5vw)
}
.homepage {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(.5vw);
}

.navbar2 {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    margin-left: 33vw;
    height: 4vw;
    width: 100vw;
}

.navbtnlow {
    font-family: CreatoThick;
    height: 2vw;
    width: 7vw;
    border-radius: 5vw 5vw 5vw 5vw;
    background-color: #ffe88a;
    font-size: 1vw;
    color: black;
    text-align: center;
    padding-top: .5vw;
    margin-left: 1vw;
}

.navbtnlow:hover {
    text-decoration: underline;
    height: 2vw;
    width: 7vw;
    background-color: white;
    border: solid .1vw #ffe88a;
}

.us {
    color: white;
    text-shadow: rgb(0, 0, 0) 0vw 0vw 2vw;
    font-family: Flagfies;
    font-size: 6vw;
    margin-top: 11vw;
    margin-left: 1vw;
}

.bigpic {
    text-align: center;
    background-image: url("images/landingpic.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid .2vw white;
    margin-left: 1vw;
    width: 97vw;
    height: 30vw;
    margin-top: 1vw;
    margin-right: 1vw;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh .5vw .1vw;
    margin-bottom: 1vw;
}

.faq {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffe88a;
}

.faqhead {
    font-family: Flagfies;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2vw;
}

.accordion {
    margin-left: 9vw;
    margin-right: 5vw;
    width: 80vw;
    height: 3vw;
    font-family: Creato;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transform: translate(0vw, 2vw);
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
    margin-left: 9vw;
    margin-right: 5vw;
    width: 80vw;
    height: 3vw;
    font-family: Creato;
    background-color: white;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transform: translate(0vw, 2vw);
    transition: 0.4s;
    display: none;
    overflow: hidden;
    }

    .footer {
      background-color: #222;
      color: #fff;
      padding: 2rem 1rem;
    }

    .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      max-width: 62.5rem;
      margin: auto;
    }

    .footer-content div {
      flex: 1;
      min-width: 12.5rem;
    }

    .footer-logo {
      width: 3.125rem;
      margin-bottom: 0.5rem;
    }

    .footer h4 {
      margin-bottom: 0.5rem;
    }

    .footer-links a {
      display: block;
      color: #fff;
      text-decoration: none;
      margin: 0.3rem 0;
    }

    .footer-links a:hover {
      text-decoration: underline;
    }

    .footer-bottom {
      text-align: center;
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      font-size: 0.9rem;
    }



@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Creato;
  src: url(fonts/CreatoDisplay-Light.otf);
}

@font-face {
  font-family: CreatoThick;
  src: url(fonts/CreatoDisplay-Regular.otf);
}


@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}



/* ------------------------ FAQ ------------------------ */

.faq-container {
    width: 85%; /* ~800px */
    margin: 2rem auto;
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.375rem 1.25rem rgba(0,0,0,0.1); /* 6px 20px approx */
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #222;
    font-size: 2rem;
  }

  .faq-item {
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid #ddd; /* 1px */
  }

  .faq-question {
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.125rem;
    background: #ffc928;
    border-radius: 0.5rem;
    transition: background 0.2s;
  }

  .faq-question:hover {
    background: #ffb800;
  }

  .faq-answer {
    display: none;
    padding: 1rem;
    font-size: 1rem;
    background: #f0f0f0;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    line-height: 1.5;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .faq-container {
      padding: 1.5rem 1rem;
    }
    .faq-question {
      font-size: 1rem;
      padding: 0.75rem;
    }
    .faq-answer {
      font-size: 0.95rem;
      padding: 0.75rem;
    }
  }

  @media (max-width: 480px) {
    body {
      padding: 1rem;
    }
    h1 {
      font-size: 1.75rem;
    }
    .faq-question {
      font-size: 0.95rem;
      padding: 0.5rem;
    }
    .faq-answer {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }