html {
    background-image: url('images/carbg.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    backdrop-filter: brightness(70%);
    background: transparent;    
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fffff7;
    border-bottom: solid #eee200 .2vw;
    height: 4vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh .5vw .1vw;
}

.navbtn, .the {
    font-family: Creato;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: .1vw solid transparent; 
    transition: border-color 0.5s ease; 
    margin-left: 1vw;
    margin-top: 2vw;
    transform: translate(2vw)
}

.the:hover {
    border-bottom: solid .1vw rgba(0, 0, 0, 1); 
}

a {
    text-decoration:none;
    color: inherit;
}

.active {
  border-bottom: .1vw solid rgb(0, 0, 0);
}

.login {
    font-family: Creato;
    font-size: 1vw;
    color: black;
    font-weight: bold;
    margin-top: 2vw;
    transform: translate(2vw)
}

.pfp {
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 25vw;
    transform: translate(7.5vw, -4.1vw)   
}

.barbtns {
    display: flex;
    flex-direction: row;
    margin-left: 23vw;
    margin-right: 25vw;
}

.logopic {
    height: 3.5vw;
    width: 3vw;
    margin-right: .2vw;
    margin-left: 2vw;  
    margin-top: .1vw; 
}

.logo {
    font-family: Flagfies;
    font-style: italic;
    font-size: 1.7vw;
    margin-top: .5vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Creato;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(5vw, 2.5vw)
}

.reviewtop {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 30vw;
    box-shadow:rgba(0, 0, 0, 0.438) 0vw 0vh .6vw .01vw;
}

.tp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #ffe88a;
    width: 95vw;
    height: 30vw;   
}

.heading {
    font-family: PoppinsBold;
    color: black;
    font-size: 2vw;
    margin-top: 1.5vw;
    margin-left: 36vw;
}

.totalstars {
    position: absolute;
    color: black;
    font-size: 6vw;
    transform: translate(4vw, 6vw)
}

.contd {
    position: absolute;
    color: black;
    font-size: 1.5vw;
    transform: translate(12.5vw, 7.8vw);
    line-height: 1.5vw;
}

.total {
    position: absolute;
    color: black;
    font-size: 0.5vw;
    line-height: 0.5vw;
}

.btm {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    width: 100%;
    width: 95vw;
    height: 20vw;   
}

.review {
    font-family: Creato;
    color: black;
    background-color: rgb(244, 244, 255);
    position: absolute;
    margin-left: 10vw;
    width: 15vw;
    height: 22vw;
    border-radius: 2vw;
    transform: translate(10vw, -13vw)
}

.review.two {
    transform: translate(30vw, -13vw)
}

.review.three {
    transform: translate(50vw, -13vw)
}

.reviewhead {
    display: flex;
    font-size: 1vw;
    font-family: Flagfies;
    margin-left: 2vw;
}

.reviewpara {
    display: flex;  
    font-size: .7vw;
    color: black;
    text-align: left;
    margin: 0vw 1vw 0vw 1vw;

}

.ratingstars {
    margin-left: 3vw;
}

.reviewmiddle {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 10vw;
    box-shadow:rgba(0, 0, 0, 0.438) 0vw 0vh .6vw .01vw;
    margin-bottom: 50vw
}

.topstar {
    font-size: 2vw;
    color: rgb(109, 109, 109);
}


.ask {
    font-family: Creato;
    color: black;
    font-size: 1vw;
    margin-left: 7.5vw;
    margin-top: 2vw;   
}

.usertext {
    position: absolute;
    transform: translate(20vw, 2vw);
    width: 60vw;
    height: 5vw;
}

.reviewstars {
    margin-left: 7vw;
    margin-right: 2vw;
}

.star {
    font-size: 3vw;
    color: rgb(109, 109, 109);
    cursor: pointer;
    transition: color 0.2s;
}

.usertext {
    margin-left: 5vw;
}

.reviewstars:hover .star {
    color: #ffc107;
}

.reviewstars .star:hover ~ .star {
    color: rgb(109, 109, 109);
}

.reviewstars .star.filled {
    color: #ffc107;
}

.reviewstars.rated {
    cursor: default;
    pointer-events: none;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 2rem 1rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 62.5rem;
    margin: auto;
}

.footer-content div {
    flex: 1;
    min-width: 12.5rem;
}

.footer-logo {
    width: 3.125rem;
    margin-bottom: 0.5rem;
}

.footer h4 {
    margin-bottom: 0.5rem;
}

.footer-links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 0.3rem 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 0.9rem;
}



@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Creato;
  src: url(fonts/CreatoDisplay-Light.otf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(fonts/Poppins-Bold.ttf);
}


@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
