html {
    background-image: url('images/carbg.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    backdrop-filter: brightness(70%);
    background: transparent;    
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fffff7;
    border-bottom: solid #eee200 .2vw;
    height: 4vw;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:rgba(0, 0, 0, 0.438) .2vw .1vh .5vw .1vw;
}

.navbtn, .the {
    font-family: Creato;
    font-size: 1vw;
    font-weight: bold;
    border-bottom: .1vw solid transparent; 
    transition: border-color 0.5s ease; 
    margin-left: 1vw;
    margin-top: 2vw;
}

.the:hover {
    border-bottom: solid .1vw rgba(0, 0, 0, 1); 
}

a {
    text-decoration:none;
    color: inherit;
}

.active {
  border-bottom: .1vw solid rgb(0, 0, 0);
}

.login {
    font-family: Creato;
    font-size: 1vw;
    color: black;
    font-weight: bold;
    margin-top: 2vw;
}

.barbtns {
    display: flex;
    flex-direction: row;
    margin-left: 23vw;
    margin-right: 25vw;
}

.logopic {
    height: 3.5vw;
    width: 3vw;
    margin-right: .2vw;
    margin-left: 2vw;  
    margin-top: .1vw; 
}

.logo {
    font-family: Flagfies;
    font-style: italic;
    font-size: 1.7vw;
    margin-top: .5vw;
    color: rgb(0, 0, 0);
}

.logocapt {
    font-family: Creato;
    font-style: italic;
    font-size: .7vw;
    position: absolute;
    transform: translate(5vw, 2.5vw)
}

.reviewtop {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 30vw;
    box-shadow:rgba(0, 0, 0, 0.438) 0vw 0vh .6vw .01vw;
}

.tp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-color: #ffe88a;
    width: 95vw;
    height: 30vw;   
}

.heading {
    color: black;
    font-size: 2vw;
    margin-top: 2vw;
    margin-left: 37vw;
}

.totalstars {
    position: absolute;
    color: black;
    font-size: 4vw;
    transform: translate(4vw, 6vw)
}

.contd {
    position: absolute;
    color: black;
    font-size: 1vw;
    transform: translate(10vw, 7.8vw);
    line-height: 1vw;
}

.total {
    position: absolute;
    color: black;
    font-size: 0.5vw;
    line-height: 0.5vw;
}

.btm {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    width: 100%;
    width: 95vw;
    height: 20vw;   
}

.review {
    font-family: Creato;
    color: black;
    background-color: rgb(244, 244, 255);
    position: absolute;
    margin-left: 10vw;
    width: 15vw;
    height: 22vw;
    border-radius: 2vw;
    transform: translate(10vw, -13vw)
}

.review.two {
    transform: translate(30vw, -13vw)
}

.review.three {
    transform: translate(50vw, -13vw)
}

.reviewhead {
    display: flex;
    font-size: 1vw;
    font-family: Flagfies;
    margin-left: 2vw;
}

.reviewpara {
    display: flex;  
    font-size: .7vw;
    color: black;
    text-align: left;
    margin: 0vw 1vw 0vw 1vw;

}

.ratingstars {
    margin-left: 3vw;
}

.reviewmiddle {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 10vw;
    box-shadow:rgba(0, 0, 0, 0.438) 0vw 0vh .6vw .01vw;
    margin-bottom: 50vw
}

.topstar {
    font-size: 2vw;
    color: rgb(109, 109, 109);
}


@font-face {
  font-family: FlagFies;
  src: url(fonts/Flagfies.ttf);
}

@font-face {
  font-family: Creato;
  src: url(fonts/CreatoDisplay-Light.otf);
}


@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
